
  
  body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: #273439;
    color: #fff;
  }
  
  nav {
    display: flex;
    background-color: #EFF0EF;
  }
  
  nav a {
    color: #273439;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  aside {
    flex: 1;
    background-color: #273439;
    color: #EFF0EF;
    padding: 80px;
    text-align: justify;
  }
  
  footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    background: #273439;
    color: #fff;
    margin-top: auto;
  }
  
  .products {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: fit-content;
    height: fit-content;
  }
  

  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex:300px;
    transform: rotate(0deg);
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
  }
  

  .card header {
    border-radius: 50px 50px;
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  
  